In [1]:
import pandas as pd
import numpy as np

## Exercícios

1. Considere a existência de três tabelas distintas:
* customer.csv : Possui a informação dos clientes em duas colunas: customer id  customer name
* products.csv : Conté informação dos produtos vendidos pela empresa em três colunas - p_id (product id), product (name) e price
* sales.csv : Contém informações das vendas realizadas em seis colunas - sale_id, c_id (customer id), p_id (product_id), qty (quantity sold), store (name)

Conhecendo as bases e utilizando os métodos de concatenação de bases responda:

In [3]:
df_customer = pd.read_csv('data/customer.csv')
df_products = pd.read_csv('data/products.csv')
df_sales = pd.read_csv('data/sales.csv')

In [4]:
df_products

   p_id       product  price
0     1     Hard Disk     80
1     2           RAM     90
2     3       Monitor     75
3     4           CPU     55
4     5      Keyboard     20
5     6         Mouse     10
6     7   Motherboard     50
7     8  Power supply     20

In [5]:
df_sales

   sale_id  c_id  p_id  product  qty store
0        1     2     3  Monitor    2   ABC
1        2     2     4      CPU    1   DEF
2        3     1     3  Monitor    3   ABC
3        4     4     2      RAM    2   DEF
4        5     2     3  Monitor    3   ABC
5        6     3     3  Monitor    2   DEF
6        7     2     2      RAM    3   ABC
7        8     3     2      RAM    2   DEF
8        9     2     3  Monitor    2   ABC

a) Quais produtos não foram vendidos?

In [10]:
# Junta ambos data frames
df_geral = df_products.merge(df_sales, how = 'left', on = ['p_id', 'product'])
# Copia a junção dos dataframes para um terceiro
df_nao_vendidos = df_geral.copy()
# Dropa as linhas do dataframe que possuem produtos vendidos
for i in range(1,10):
    df_nao_vendidos.drop([i], inplace = True)

In [7]:
# Lista os produtos não vendidos
df_nao_vendidos['product']

0        Hard Disk
10        Keyboard
11           Mouse
12     Motherboard
13    Power supply
Name: product, dtype: object

b) Quantos clientes não realizaram uma compra?

In [8]:
# Junção de DF customer e sales
df_costumer_sales = df_customer.merge(df_sales, how = 'left', on = ['c_id'])
#Contagem de clientes que não compraram
df_costumer_sales.sale_id.isna().sum()

4

In [9]:
# Lista dos que não compraram nada
df_costumer_sales[df_costumer_sales.sale_id.isna()].Customer

9     King
10    Ronn
11     Jem
12     Tom
Name: Customer, dtype: object

c) Liste a quantidade vendida e o faturamento de cada produto

In [22]:
df_vendida_faturamento = pd.merge(df_sales, df_products, how = 'left', on = ['p_id', 'product'])
df_vendida_faturamento['total_vendido'] = df_vendida_faturamento['qty']*df_vendida_faturamento['price']
df_vendida_faturamento.groupby('product')[['qty','total_vendido']].sum()

         qty  total_vendido
product
CPU        1             55
Monitor   12            900
RAM        7            630

d) Liste a quantidade vendida de cada produto por loja

In [24]:
df_geral.groupby(['product','store'])[['qty']].sum()

                qty
product store
CPU     DEF     1.0
Monitor ABC    10.0
        DEF     2.0
RAM     ABC     3.0
        DEF     4.0

e) Qual loja teve maior faturamento?

f) Qual produto foi o mais vendido?